{% extends 'main/layout.html' %}

{% block title %}Изменение поста{% endblock %}

{% block content %}
    <div class="features">
        <h1>Изменение поста</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            {{ form.image }}<br><br>
            {% if error %}
                <span>{{ error }}</span><br><br>
            {% endif %}
            <button class="btn btn-warning" type="submit">Изменить пост</button>
        </form>
    </div>
{% endblock %}