{% extends 'main/layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="features">
        <h1>Обо мне</h1>
        <div class="main__info">
            <p>Меня зовут Ярослав, я студент 4 курса ПГГПУ Заканчиваю обучение по направлению "Прикладная информатика"<br><br>
                Занимаюсь разработкой различных<br>веб-приложений и сервисов на языке Python<br><br>
                В свободное время увлекаюсь баскетболом, саморазвитием и просмотром видеороликов
            </p>
        </div>
    </div>
{% endblock %}